body{
  --bg-color-primary: #242424;
  --bg-color-secondary: #2E2E2E;
  --input-bg-color: #2E2E2E;  
  --input-outline:#FFFFFF;
  --text-color-primary:  #FEFEFE;
  --button-color-primary: #A6D4FA;
  --button-color-pressed: #42a4f5;

}